=breadcrumb_tag do
  %li
    Cотрудники
  %li
    = link_to 'Сотрудники', empls_path
  %li.active
    = t('headers.empls.Новый сотрудник')

.page-header
  %h1= t('headers.empls.Новый сотрудник')

= render 'form'


